@model inventoryAppDomain.Entities.Cashier
@{
    Layout = null;
    ViewBag.CurrentPage = "All Products";
    

}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <p>@Model.FirstName</p>
        <p>@Model.LastName</p>
    </div>
</body>
</html>